        <div class="contenedor-producto col-12  col-sm-6 col-md-4" data-nombre="{{this.nombre}}">
            <p class="fs-2">{{this.nombre}}</p>
            <img src={{this.img}} alt="{{this.nombre}}" class="d-block mx-auto">
        </div>
        